html {
   width: 800px;
}

body {
   background-color: #faf0dc;
   font-family: Arial, sans-serif;
   color: black;
}

h1 {
   font-size: 32px;
   color: #a4161a;
   text-align: center;
   margin-bottom: 20px;
}

h2 {
   font-size: 24px;
   color: #5f5e5e;
   margin-bottom: 15px;
}

img{
   image-orientation: center;
   border-radius: 5px;
   margin-bottom: 15px;
}
form {
   background-color: #ffffff;
   border-radius: 5px;
   padding: 20px;
   margin-top: 20px;
   margin-bottom: 20px;
}

input, select, textarea {
   border: #eaeaea 1px;
   border-radius: 5px;
   padding: 8px;
   margin-bottom: 15px;
}

button {
   background-color: #a4161a;
   color: #ffffff;
   border-radius: 5px;T
   padding: 10px;
}
